*.apk
*.aab
*.ap_
*.dex
*.class
DonationScreen.kt

.gradle/
.kotlin/
build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.hprof

local.properties

*.iml
.idea/

secrets.properties

*.jks
*.keystore
keystore.properties
signing.properties

.DS_Store
Thumbs.db
*.log